.section {
  position: relative;
  padding: 140px 20px 120px;
  overflow: visible;
}

.section-inner {
  position: relative;
  z-index: 4;
}

.service,
.flow,
.instagram {
  &::before {
    content: "";
    position: absolute;
    top: -79px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("../img/wave1.svg") no-repeat center top;
    background-size: cover;
    z-index: 3;
    pointer-events: none;
  }
}

.about,
.works,
.contact {
  &::before {
    content: "";
    position: absolute;
    top: -79px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("../img/wave2.svg") no-repeat center top;
    background-size: cover;
    z-index: 3;
    pointer-events: none;
  }
}